html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-container {
    margin: auto;
    width: 65%;
    text-align: left;
}

#addressForm {
    display: none;
}

#selectTimeButton {
    float: right;
}