html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-container {
    margin: auto;
    width: 80%;
    text-align: left;
}

#selectTimeButton {
    float: right;
}

#formNextButton {
    float: right;
    margin-top: 5px;
    width: 10%;
}

#primaryForm {
    width: 58%;
}
#addressForm {
    width: 40%;
    float: right;
}
#submitButton {
    width: 20%;
    margin-top: 5px;
    float: left;
}