html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-container {
    margin: auto;
    width: 80%;
    text-align: left;
}

#selectTimeButton {
    float: right;
}

#formNextButton {
    float: right;
    margin-top: 5px;
    width: 10%;
}

#primaryForm {
    width: 58%;
}
#addressForm {
    width: 40%;
    float: right;
}
#submitButton {
    width: 58%;
    margin-top: 5px;
}

.buttonHolder {
    text-align: left;
    width: 100%;
}
#searchInput {
    width: 100%;
    font-size: 12px;
    padding: 6px 10px 6px 20px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

#databaseTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 12px;
}

#databaseTable th, #databaseTable td {
    text-align: left;
}

.header th {
    padding-right: 5px
}

#databaseTable tr {
    border: 1px solid #ddd;
}
#databaseTable td {
    border: 1px solid #ddd;
}

#databaseTable tr.header, #databaseTable tr:hover {
    background-color: #f1f1f1;
}

#specificEntryModalPara p {
    margin-bottom: 0;
    text-align: left;
}